[2019-03-04 17:48] johnsonj opened #3 "Work in Progress"
This mega issue is for capturing the work needed to be able to create an operator with this toolkit.

EXAMPLES/DOCS:
- [x] [Walkthrough](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/tree/master/docs/addon/walkthrough/) is fully functional

TEST INFRA:
- [x] Prow running `hack/ci/test.sh`
- [ ] Prow running `hack/ci/e2e.sh`

[2019-03-04 17:49] johnsonj opened #4 "New declarative option: WithApplyPrune"
Allow a declarative operator to use 'kubectl apply --prune' semantics with a provided label.

[2019-03-04 17:50] johnsonj opened #5 "Manage an Application Instance"
If a manifest includes an 'Application' we should be able to manage it (name, labels, GVKs, assembly phase, ...)

[2019-03-04 17:52] johnsonj opened #6 "Basic Smoke Tests"
- Bring up a k8s cluster
- Deploy some operators
- Go through the operators lifecycle:
   - create CR, ensure all objects exist
   - delete an object, make sure it gets recreated
   - delete the CR, ensure all objects go away
   - repeat once or twice

[2019-03-04 17:54] johnsonj opened #7 "Resume closed watches in DynamicWatch"
A Watch will expire after an hour or so (or sooner if the API server restarts). The DyanmicWatch code does not handle resuming the watch.

[2019-03-04 19:20] Kashomon commented on #5
I would like to use Application resources as purely Metadata (info about the component). Would it possible to say, 'hey, I don't really want you to use my Application object'?

[2019-03-05 20:58] Kashomon opened #9 "Add a Component loader"
I'd like to add a Component loader for components from https://github.com/GoogleCloudPlatform/k8s-cluster-bundle. Is that something you'd be interested in?

[2019-03-06 17:38] johnsonj commented on #9
Yes, very interested. I'm happy to talk through any issues in integrating it if you have questions.

[2019-03-08 01:55] johnsonj commented on #5
That makes sense. It's probably an option/transform so it will be opt-in to update it if it's there.

[2019-03-08 02:55] Kashomon commented on #9
Presumably this would pull from in-cluster?

[2019-03-08 07:21] atoato88 opened #15 "Need license notice in each files"
Every file in this repo doesn't have license notice(Apache License, Version 2.0) at top.
It is needed for developing with this toolkit.

[2019-03-08 07:28] atoato88 commented on #15
This is non-functional topic, but important things, I think.

If this issue is reasonable for you, I'll create PR.
IMHO, this should be fix after #12.

[2019-03-08 15:24] Kashomon commented on #9
Alternatively, there could be component-fs loader and a component-remote loader. reference to https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/tree/master/pkg/patterns/addon/pkg/loaders

Seems like the objects accepted by the resolver in func (c *ManifestLoader) ResolveManifest(ctx context.Context, object runtime.Object) (string, error) {

[2019-03-08 16:41] johnsonj commented on #9
Ultimately, I'd like to support the following (in no particular order):
- Raw manifests on disk (check!)
- Component via kubernetes API
- Component via URI (https://, file://)

In terms of integrating it into the Reconciler, you're spot on there. [Here's the spot](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/patterns/declarative/reconciler.go#L235) where the f

[2019-03-08 17:54] johnsonj commented on #15
Thanks @atoato88 - that'd be great. Agreed on sequencing.

[2019-03-08 19:31] johnsonj opened #17 "Golden file based tests"
The ultimate goal of an operator is to generate and apply a set of YAML manifests to the cluster. Authors should have high confidence that changes to their operator does not unintentionally modify the output.

[2019-03-10 20:10] johnsonj opened #21 "Propagate Labels"
`declarative.AddLabels` applies labels to the topmost object. We should propagate these labels when appropriate. For example, if I have a deployment the labels should also be applies to the PodSpec.

[2019-03-13 14:34] Kashomon commented on #9
I think @BradfordMedeiros is going to take this up.

[2019-03-13 14:35] Kashomon commented on #9
I think there's even a forth one that would be useful: Component on disk

[2019-03-13 14:36] Kashomon commented on #9
(although maybe Component via URI encompasses component on disk)

[2019-03-13 21:31] BradfordMedeiros commented on #9
Yea I will.  I'm poking around kubebuilder at the moment and trying to get a feel for it.

[2019-03-14 17:54] #4 closed

[2019-03-14 18:08] #6 closed

[2019-03-14 21:54] BradfordMedeiros commented on #9
What's the usage for this repo?
I'm looking into kubebuilder and it's not referenced statically from there, but I assume it's supposed to be used through generated code with this?

What's the idea exactly?  I'm not following yet conceptually.  Is there an example usage?
I'd also think we probably ought to both stabilize a bit before integrating, but still willing to do this once I understand the i

[2019-03-14 22:07] #5 closed

[2019-03-14 23:46] #15 closed

[2019-03-20 00:26] #17 closed

[2019-04-01 16:30] johnsonj opened #33 "packageName is ignored by filesystem loader"
[declarative/reconciler.Init](https://godoc.org/sigs.k8s.io/kubebuilder-declarative-pattern/pkg/patterns/declarative#Reconciler.Init) requires a `packageName` parameter. This value is never propagated to [ManifestController.ResolveManifest](https://godoc.org/sigs.k8s.io/kubebuilder-declarative-pattern/pkg/patterns/declarative#ManifestController). The addon filesystem loader relies on [CommonObject

[2019-04-01 16:33] johnsonj opened #34 "SourceLabel generates capitalized labels"
expected: `addons.sigs.k8s.io/dashboard: dashboard-sample`
actual: `addons.sigs.k8s.io/Dashboard: dashboard-sample`

- [src](https://godoc.org/sigs.k8s.io/kubebuilder-declarative-pattern/pkg/patterns/declarative#SourceLabel)
- [example](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/7113986b884f5c2079d9536284be711bbd8defaf/examples/dashboard-operator/pkg/controller/dashboa

[2019-04-01 16:35] johnsonj opened #35 "Support basic private registry for docker environments"
Provide a set of flags for addon operators that, when specified, rewrite the image names and add add a imagePullSecret to relevant PodSpecs.

Flags:
- `--private-registry=<my-repo>`
- `--image-pull-secret=<my-secret>`

[2019-04-02 16:17] #34 closed

[2019-04-02 16:21] #33 closed

[2019-04-02 16:25] #35 closed

[2019-04-02 16:31] #7 closed

[2019-04-02 16:32] johnsonj opened #39 "Watch causes unneeded Reconciliation"
`Watch`es get dropped and we resume them by restarting from `time zero` at which time we receive all change events that have occured. This is noise that we can avoid.

Some paths forward:
- Register the Watch with a ResourceVersion to prevent seeing already-seen events. We need to be careful to check for the `ResourceVersionTooOld` and reset the ResourceVersion
- Use Informers directly
- Use [NewI

[2019-04-16 15:39] johnsonj opened #41 "typo in log output"
"applying private reigstry options" / sigs.k8s.io/kubebuilder-declarative-pattern/pkg/patterns/addon/init.go

[2019-04-16 15:42] johnsonj opened #42 "Inline annotation required for CRD generation"
The embedded types (`CommonSpec`, `CommonStatus`) need to be annotated with ``json:",inline"`` so the fields show up in the generated CRD

Eg:
[code]

Add annotations to the:
- [ ] walkthrough
- [ ] dashboard-operator

[2019-07-04 01:49] atoato88 opened #47 "Add setter to FakeClient for setting arbitrary value"
For `Golden File Tests`, it is useful that `FakeClient` be eble to set specific value to [`c` field](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/test/mocks/client.go#L16).
Currently, `FakeClient` doesn't have setter for its `c` field.

[2019-07-04 01:52] atoato88 commented on #47
related: kubernetes-sigs/addon-operators#19

[2019-07-09 01:34] #42 closed

[2019-08-05 16:13] #47 closed

[2019-08-07 21:57] #21 closed

[2019-08-11 23:33] #9 closed

[2019-08-16 20:40] #3 closed

[2019-08-16 21:09] johnsonj commented on #41
Log has been removed

[2019-08-16 21:09] #41 closed

[2019-08-20 17:10] johnsonj commented on #39
/remove-lifecycle rotten

[2019-10-01 22:29] atoato88 opened #54 "Debug log messages in functions which transform object"
This is a request of kind cleanup.
It is better to add debug log messages to functions related with `ObjectTransform` for debugging of controller.

We can transform objects by `declarative.WithObjectTransform`, but as of now there is no debug log messages of transform functions(e.g. `declarative.AddLabels`, `declarative.ImageRegistryTransform`)
For effective debug, It is prefer to log debug messag

[2019-10-08 16:15] #54 closed

[2019-10-16 08:43] annp1987 opened #56 "kustomize integration"
Hi Everyone,

Currently, we can adding labels, changing namespace of manifest before apply them. But I'm not sure there is possible to manipulate manifest from `kustomize build` then apply it? Do you have any advice?

[2019-12-02 22:32] johnsonj commented on #56
- [proposal for integration](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/57#issuecomment-559268407)

@annp1987 - Should we assign this bug to you?

[2019-12-02 22:34] johnsonj opened #65 "Emit Reconciliation Metrics"
A user should be able to emit metrics on the Prometheus metrics endpoint. Metrics should be written to the [controller-runtime Prometheus Registry](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/metrics/registry.go#L23)

  The library should emit a metric for:

- P1: How many times in the last X seconds has reconciliation happened? How many times has it failed? 
    - Implem

[2019-12-03 01:11] annp1987 commented on #56
@johnsonj ,
Please assign this bug to me. Its my pleasure. :-)

[2019-12-03 06:40] annp1987 commented on #56
/cc annp1987

[2019-12-03 17:17] johnsonj commented on #56
Thanks @annp1987 ! Let me know if you have any questions/want an early review

[2019-12-04 09:29] annp1987 commented on #56
Thanks @johnsonj. Could you have a early review for kustomize integration at https://github.com/annp1987/kubebuilder-declarative-pattern/tree/intergrate_with_krusty?

[2019-12-10 03:47] johnsonj commented on #56
Hey @annp1987 - sorry for the delay. Your change looks right on track. I don't have any major structural comments. I'm excited to see this one land!

This likely goes without saying, but you will need to keep track of the original filesystem paths and use them when you write to the in memory filesystem (`fSys.WriteFile`)

[2019-12-10 09:52] annp1987 commented on #56
Thanks @johnsonj. I've just create a PR. Could you take a look at it?

[2020-01-17 18:49] #39 closed

[2020-01-21 03:57] atoato88 opened #70 "Unkeyed fields on NamespacedName"
When I ran `go vet`, I got messages following.

[code]
It's better to fix this errors(or warnings?) for clean coding.

[2020-01-21 19:04] #70 closed

[2020-02-27 17:41] johnsonj commented on #56
#66 added the initial support for this feature. We still need tests, documentation, and potentially more feature work for this to be closed out.

[2020-02-28 06:30] akulkapoor90 commented on #35
hello Jeff,

In addition to the flag '--private-registry', what tag it would use to pull the image ?

does addons, support tags as well for private-registry or does it default to 'latest' ?

[2020-02-28 07:15] brycecr commented on #35
Hey Akul,

It's going to use the tag you have specified in the image field. private-registry only overwrites the first two "/" delimited elements of the container location.

So, `gcr.io/akul/image:tag` with `--private-registry=priva.te/registry/location` would become `priva.te/registry/location/image:tag`, and `gcr.io/akul/kapoor/90/image:tag` would become `priva.te/registry/location/kapoor/90/ima

[2020-02-29 20:52] johnsonj commented on #35
echoing @brycecr - it doesn't not touch tag. It'd be reasonably straightforward to mutate the tags in an [ObjectTransform](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/patterns/declarative/options.go#L87). That's how the private registry (repo/imagePullSecret) is implemented under the hood.

The thought behind not touching the tag or path beyond the first chun

[2020-03-02 17:12] johnsonj commented on #65
/remove-lifecycle stale

On Sun, Mar 1, 2020 at 3:02 PM fejta-bot <notifications@github.com> wrote:

[2020-03-17 18:58] johnsonj commented on #56
There's additional open issues highlighted in [@atoato88's comment](https://github.com/kubernetes-sigs/cluster-addons/pull/46#issuecomment-597415111)

[2020-03-17 19:11] rajansandeep commented on #56
Adding further to [@atoato88's comment](https://github.com/kubernetes-sigs/cluster-addons/pull/46#issuecomment-597415111), if an operator has Kustomize enabled (for example CoreDNS-operator to include the `configMapGenerator`), we can just parse the final yaml built by the `kustomization.yaml`, instead of trying to parse all the files present in the version folder.

[2020-03-17 19:20] johnsonj commented on #56
As it is today, the transformation process relies on being able to parse everything as YAML. For example, we have a private registry transform that will go patch all of the image registries. That's something we would like to keep.

We could make the file loading code more flexible: https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/bbf1fb2a4a9a5ab3cf14d3f5f3f06658ca6373f8/pkg/

[2020-03-23 04:21] vanou commented on #65
I'll take it.
/assign

[2020-04-02 10:21] SomtochiAma commented on #56
/assign

[2020-04-02 10:55] SomtochiAma commented on #56
@johnsonj how do we know when to change the Objects or when to keep as blobs?

[2020-04-02 15:33] johnsonj commented on #56
@SomtochiAma If it can be parsed into an unstructured.Unstructured then it should be an Object. Otherwise, Blob

[2020-04-04 14:52] SomtochiAma commented on #56
@rajansandeep Are you suggesting that we do [https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/issues/56](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/issues/56) before building the deployment objects?

[2020-04-06 06:06] atoato88 opened #80 "Remove dashboard-operator from examples"
As discussion [here](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/73#issuecomment-589786484), dashboard-operator had moved to `sigs.k8s.io/cluster-addons` by [PR in cluster-addons](https://github.com/kubernetes-sigs/cluster-addons/pull/44)
Now, we can remove dashboard-operator from `sigs.k8s.io/kubebuilder-declarative-pattern` repository.
The following are affected conte

[2020-04-12 19:04] SomtochiAma opened #84 "Test framework for the addons"
Opening this issue to start off discussions on how to go creating the test framework for addons smoke test.
cc @johnsonj  @atoato88 your guidance is appreciated

[2020-05-07 08:23] atoato88 commented on #80
As of now, related PRs are merged.
I close this issue.

/close

[2020-05-07 08:24] #80 closed

[2020-05-13 03:04] erain opened #95 "How components installed by the operator work with autoscalers?"
This is more of a question than an issue.

Operators may install and reconcile several components with own resource requests/limits. However, we may want these components to have different requests/limits depending on the size of the cluster.

There are two options here:
1. Have some hooks in the framework, to do autoscaling from the operator.
2. Make the operator aware of the autoscalers, and don

[2020-05-13 18:09] dashpole commented on #95
cc @justinsb

[2020-05-15 18:32] rajansandeep commented on #95
I'm not sure if this answers your question directly, but I do have a [Cluster Proportional Autoscaler](https://github.com/kubernetes-sigs/cluster-proportional-autoscaler) installed using the CoreDNS operator, and the autoscaler is able to take control of the number of CoreDNS replicas without reconciling.

Note: For this to work, I have avoided specifying the number of replicas in the CoreDNS depl

[2020-05-20 16:19] johnsonj commented on #95
I think that is the right approach.

The operators use apply semantics so as long as the field isn't set by the operator there will be no fight between the operator and an autoscaler.

This breaks down if an operator wants a 'non-default default' (eg wants replicas: 3 - unless the autoscaler wants more/less). That could be implemented via a Patch, but I'm not sure if that's a hack.

[2020-05-27 16:54] rajansandeep opened #97 "Add e2e test for kubebuilder"
Following the conversation in https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/94#discussion_r430721626, the Kubebuilder project uses this project as a dependency for the `--pattern` option to create an operator.

As suggested in https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/94#discussion_r430778786, it is a good idea to have a prepull e2e test enab

[2020-06-21 05:48] vanou commented on #65
/remove-lifecycle state

[2020-06-21 05:49] vanou commented on #65
/remove-lifecycle stale

[2020-07-28 06:32] vanou commented on #65
I think this issue got closed.
/close

[2020-08-12 04:32] atoato88 commented on #65
Thank you to deal this.
I think so too.
/close

[2020-08-12 04:32] #65 closed

[2020-08-25 17:41] rajansandeep commented on #97
/remove-lifecycle stale

[2020-09-01 16:42] #56 closed

[2020-09-09 20:54] #84 closed

[2020-10-17 18:40] #95 closed

[2020-11-10 12:52] camilamacedo86 opened #130 "release/versioning following the semver conventional"
Currently, in KB we need to pinned the commit version. Would be great to see this project working on with to release/versioning following the semver conventional.

[2020-11-16 09:55] Adirio opened #132 "Update addon implementation"
Both the [walkthrough](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/tree/master/docs/addon/walkthrough) found in this repo, and the [implementation](https://github.com/kubernetes-sigs/kubebuilder/tree/master/plugins/addon) found in https://github.com/kubernetes-sigs/kubebuilder are out of date. Addon should be implemented as a kubebuilder plugin that builds over the base plug

[2020-12-09 22:40] willbeason opened #137 "Cannot apply CRD and a CR simultaneously"
How to recreate:

1. Create a manifest which includes both a CRD and a CR for that CRD
2. Install both of those via a Kubebuilder controller simultaneously

This happens because of a recent change to how kubectl works in 1.18. Specifically, `k8s.io/cli-runtime/pkg/resource/result.go` now returns an error if the user tries to apply a type that does not already exist on the cluster, _even if the typ

[2020-12-10 19:44] willbeason commented on #137
This fixes https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/issues/137

I _have_ tested this change in our operator, and it fixes our issue.

[2021-01-12 04:46] atoato88 opened #143 "Guestbook operator doesn't work correctly without namespace"
Error occurs when I create Guestbook CR with [guestbook operator](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/tree/master/examples/guestbook-operator).

Reproduction steps
1. Do next steps
[code]

2. Do next steps in another console
[code]

Following errors occurs.
[code]

[code]

Errors say `INFO	declarative_reconciler	Scoped object, but no namespace specified`.
As of now,

[2021-01-12 05:02] atoato88 commented on #143
It related to #128, I think.

[2021-01-14 02:39] atoato88 commented on #137
It's FYI.
I've checked this issue and [your PR](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/138).
In the same time, I've created [this PR](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/128), In my PR also fixes some (maybe) bugs in current `direct.go`.

When I checked your issue in my PR code-set, CRD and CR are created in success.
If you have

[2021-01-20 19:53] willbeason commented on #137
Sure, I'll be able to test your PR tomorrow. Thank you!

[2021-01-22 19:34] #97 closed

[2021-02-03 06:56] atoato88 opened #150 "More unit tests are needed"
As of now, unit tests for this repository are not enough.
We should implements more unit tests for core functions of this, at least.

And also, It is good to add unit test with new PR.

related to: #148

[2021-02-03 06:57] atoato88 commented on #150
I would like to add test code in this repository. :smiley:

[2021-02-14 14:58] Adirio commented on #132
/lifecycle freeze

[2021-02-14 14:58] Adirio commented on #132
/lifecycle frozen

[2021-02-14 14:59] Adirio commented on #132
Related to https://github.com/kubernetes-sigs/kubebuilder/pull/1991

[2021-04-09 14:35] #130 closed

[2021-04-13 22:08] atoato88 commented on #143
/remove-lifecycle stale

[2021-05-10 06:39] atoato88 commented on #150
/remove-lifecycle stale

[2021-06-15 15:45] JeffLuoo opened #159 "--private-registry flag doesn't work for Init Containers"
**What happened**:
The `private-registry` flag doesn't work for the init containers.

**What you expected to happen**:
The flag will overwrite the registry of init container as well.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a sample app with init container.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- OS (e.

[2021-06-16 15:14] JeffLuoo opened #161 "Guestbook object from example didn't work"
**What happened**:
Following the instruction [here](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/docs/addon/walkthrough/README.md) to deploy the Guestbook object locally will run into the following issue:
[code]

First error to notice is that:
[code]
and I am sure that I followed the instruction to deploy the CR and CRD as:
[code]

And the second issue is that the

[2021-06-16 15:48] JeffLuoo commented on #161
As a workaround, I manually added the `namespace: kube-system` field to the metadata section in the folder: `kubebuilder-declarative-pattern/examples/guestbook-operator/channels/packages/guestbook/0.1.0/manifest.yaml`. Now only the first issue I mentioned above is observed:
[code]

[2021-06-17 14:29] JeffLuoo opened #162 "Fetching object from cluster before applying the manifest in reconciler.go"
**What happened**:
The [line](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/patterns/declarative/reconciler.go#L203) is called to get the object from the cluster. However, the object will be deployed later in this [line](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/patterns/declarative/reconciler.go#L259). And this will res

[2021-06-18 15:17] JeffLuoo commented on #143
I met the similar error that:
[code]

Do you have any clue on it?

[2021-06-19 20:51] #137 closed

[2021-08-31 16:12] justinsb opened #174 "We should start using versions"
Per discussion in https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/169 we should probably have versioning in our library and maintain a release branch.

* This should make the library a little easier to consume
* By mirroring the version of controller-runtime (on which we have a hard dependency) we avoid having to define our own major/minor verision scheme.
* We can hopefull

[2021-09-07 23:57] atoato88 commented on #150
/remove-lifecycle rotten

[2021-09-09 19:17] asilverman opened #176 "Latest `kubebuilder-declarative-pattern` version stuck on endless reconcile loop for guestbook-operator"
**What happened**:
Following the instructions of the latest version of the [walkthrough](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/tree/master/docs/addon/walkthrough#readme) results in a broken state, the operator enters an endless loop of create/delete of the resources defined in the `channels/packages/guestbook/0.1.0` folder. So the package is never in a `Ready` state.

[2021-09-10 16:52] asilverman commented on #176
gentle ping @atoato88

[2021-09-10 21:31] atoato88 commented on #176
Thank you to mention me.
I think current walkthrough docs is a little old, because some updates were merged into master branch.
Now, #173 is open for fixing some errors.

And we can update the docs and code of guestbook-operator once that PR is merged.

[2021-09-17 15:43] asilverman commented on #176
@atoato88  I agree, however I tried using the latest version from #173, however the issue persists. I think the endless create/delete loop is unrelated. Could you please take a look?

[2021-09-22 06:38] atoato88 commented on #176
@asilverman
I've created a PR #179 which fixes a problem in this issue.
For fixing endless loop, we need to [reomve `declarative.WithPreserveNamespace()`](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/179/files#diff-8a9e8bde8983509c3857375508fa2140508d4524d3b09ee326ee9accfbf55de9L150) from `Reconciler.Init` I think.
Please try that.

[2021-10-02 22:22] asilverman commented on #176
@atoato88 I worry that the problem has not been fixed, notice how a describe on the frontend deployment is garbage collected:
[code]

[2021-10-13 15:58] JeffLuoo opened #182 "Improvement: kustomize should support base/ and overlay/ model"
The library already has the support for the kustomize but it has some limitations that It ONLY loads the folder that is specified in the `PackageName` variable and this made it impossible to have the file structure like:
![image](https://user-images.githubusercontent.com/40296741/137170007-edb4af4e-2ba7-4dfa-b23a-3c9e442b3a88.png)

Which should be a common file structure to use with the kustomize.

[2021-11-08 16:49] #176 closed

[2021-11-14 15:40] #162 closed

[2021-11-15 16:46] #143 closed

[2021-11-18 15:37] tomasaschan opened #190 "If an object transform fails, status is never updated"
**What happened**:
Consider a declarative reconciler set up like this:
[code]

**What you expected to happen**:
When reconciling this resource, I would expect the status to be updated with `.status.healthy: false`, and at least the error message, perhaps even more detail, exposed in `.status.errors` and/or `.status.phase`. Instead, the reconciliation seems to crash completely, requeue itself and n

[2021-11-22 14:22] tomasaschan opened #191 "Enable delayed retry when preflight fails"
**What would you like to be added**:
When using a status provider with a `Preflight` method defined, it would be nice to have a way to control the requeue behavior of the `reconcile.Result` returned [here](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/patterns/declarative/reconciler.go#L140). Since the `err` is currently both used a signal whether the pre-fligh

[2021-11-23 09:05] tomasaschan commented on #191
Here's one way to solve for my need. It's not super elegant (maybe it would be better to encapsulate the tupled return values in a struct of some sort) but it works:
[code]

With this in place, I can create a status object with a preflight request that returns e.g. `false, reconcile.Result{RequeueAfter: 10*time.Minute}, nil` to say "don't run the reconciliation now, but please try again in 10 minu

[2021-11-24 15:17] tomasaschan opened #193 "panic: concurrent map writes in watch/dynamic.go"
We're seeing a `panic` on [`dw.lastRV[key] = rv`](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/7dcbbb6b50c8044fafa297997930d151152cde2a/pkg/patterns/declarative/pkg/watch/dynamic.go#L150) with the following stack trace:
[code]

It seems to happen every time our operator starts, but for different keys every time. I don't grok what goes on under the hood well enough to und

[2021-11-24 15:26] justinsb commented on #193
Ooops - thanks for reporting!

This should be a relatively simple fix - I forgot a mutex to guard lastRW.  However, the reason I forgot that mutex is that I thought that there should only be a single goroutine, but in fact there can be several if we are watching multiple types.  And because of that, lastRW should also be keyed by kind (or each kind needs its own map).

I can send a fix in an hour

[2021-11-24 15:33] tomasaschan commented on #193
Thanks!

We have a local fork of this repo where we've added a few other things (most notably a POC implementation of #191, but also #192 and a helper `AddError` on `CommonObjects` that adds an error string to the status if it's not already present; I'll probably submit PRs back here for most/all of those here eventually 😄).

In there, I did this to just make the map thread-safe; do you think it w

[2021-11-24 15:38] justinsb commented on #193
Thanks - looking forward to those PRs :-)

And yes, that should be sufficient.  This is "just" an optimization, and resourceVersions are (usually) globally unique, so as long as we're not crashing it's an improvement!

[2021-11-24 15:39] tomasaschan commented on #193
I'll file this one right away (it was easy enough to put in place!). The others will come once we've been using them for a little while so we can make breaking changes to the APIs etc if we realize ways to make stuff better.

[2021-11-24 17:36] #193 closed

[2021-11-25 08:56] fsommar commented on #191
Are there more instances where we'd possibly like to set a different requeue timing? Could it be solved in a more general manner by having a handler for errors for whether they should be instantly retried or not? Alternatively, would it make sense to return a `nil` error but set the requeue timing? It's not semantically covering what's happening, but effectively it would do the same/a similar thin

[2021-11-29 21:42] atoato88 commented on #174
/remove-lifecycle stale

[2021-12-13 15:55] justinsb commented on #191
This is certainly a valid use-case, and I imagine we'll discover more of these things over time.

One pattern that allows for evolution is to pass an object in, e.g. `Preflight(operation PreflightOperation)`, and then we can extend PreflightOperation without breaking clients.

Looking at the existing arguments, we have to decide whether to embed them in PreflightOperation.  I'd say we should still

[2021-12-17 10:08] wscheep opened #196 "Complex manifest transformations"
**What would you like to be added**:
A way to modify Kustomize folder structures after loading them as raw manifests.

**Why is this needed**:
We already have complex logic in kpt functions to do this and would like to re-use them.
This ensures that local manifest rendering happens in exactly the same way as in the cluster.

**Details**:
Complex transformations are done by a kpt function that is t

[2022-01-03 07:41] tomasaschan commented on #191
@justinsb Coming back to this now that vacations are over :)

I think what you're saying makes sense in terms of how to enable this API to evolve, but I'm also not sure if it relates strictly to what I'm trying to accomplish. Note that the changes in my hacky diff are in the return values, not in the arguments... But the approach you suggest - wrapping everything in a struct that is specific to `P

[2022-01-20 14:12] wscheep opened #201 "No pruning with NewDirectApplier"
**What happened**:
The `kubectl --prune` flag is set as `extraOpts` in [`reconciler.go`](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/patterns/declarative/reconciler.go#L236).

However, since the `NewDirectApplier` is used (https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/101), the prune option is not propagated to the `applyOpts.Prune`

[2022-01-27 10:37] irvifa commented on #182
/remove-lifecycle stale

[2022-01-27 10:38] irvifa commented on #196
Hi @wscheep , I think it will be good if you put some example on how you'd like the structure and the format that you'd like to have in this issue as well as part of proposed design document.

[2022-02-05 01:14] #150 closed

[2022-02-18 09:44] tomasaschan commented on #190
/remove-lifecycle stale

[2022-02-21 02:12] atoato88 commented on #190
In #199, any erros occured in reconciling are pass to [`Reconciled` function](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/199/files#diff-f4f154817e266917cf48c21f464818b16798c1d4e1170cee1af9804481f786f0R48).
We may be able to utilize those error informations for updating status said this issue, I think.

[2022-03-16 12:10] irvifa commented on #174
/remove-lifecycle stale

[2022-03-21 18:45] justinsb commented on #201
Thanks for figuring this out and for sending the PR - I'm going to look at why it isn't passing...

There's not a strong reason, other than avoiding breaking people.  However, extraArgs is pretty specific to the kubectl, and maybe we should replace that with more specific options instead.  (i.e. drop extraArgs, but expose Prune, ForceConflicts, Selector etc).

This feels like a great time to intro

[2022-03-22 08:32] wscheep commented on #201
Sounds good, let me know if there's anything I can do to help with introducing stronger versioning.

In the mean time, we've used a nicer workaround where we convert `ApplierOptions` into the latest [ApplyOptions](https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/apply/apply.go) from the k8s.io./kubectl module.
I'll create a PR once the versioning is in place.

[2022-03-23 01:10] atoato88 commented on #174
This PR has [`release-0.11` branch for v0.11.0.](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/208#issuecomment-1075074381)
When we would like to use v0.11.0, we write in `go.mod` which use this repository following:

[code]

I checked on test program which used v0.11.0, but `go mod tidy` failed with:
[code]

Do we need git tag named of `v0.11.0` ?
And I also refered [thi

[2022-03-24 08:01] xuzhenglun commented on #201
pruning seems still broken, because some attributes of applyOpts is nil.

To make pruning work normally, below attributes must be set before calling [applyOpts.Run()](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/pkg/patterns/declarative/pkg/applier/direct.go#L94).
[code]

[2022-03-24 08:13] xuzhenglun opened #209 "pruning and resource ignore annotation is conflict"
**What happened**:
1. Controller is enabled `prune`, so that resources can be deleted automatically after they are not in manifests.
2. After annotating a resource with `addons.k8s.io/ignore=true`, this resource will be deleted immediately and re-apply.

**What you expected to happen**:
resources with `addons.k8s.io/ignore=true` will be ignored after applying, and will not be pruned.

**How to rep

[2022-03-29 01:12] atoato88 commented on #201
Recently, some PRs related with `prune` functionality are created.
I think we should reopen this issue.

[2022-03-29 02:49] xuzhenglun commented on #201
`DirectApplier` is implemented very tricky in the current code.  IMHO, some reason can blame that `k/kubectl` is lack of a good interface for other people to reuse it easily.

To solve this issue, I have 3 ideas:
1. After 1.16, `ServerSide apply` is available, It allows client just send resources to `kube-apiserver`, and `kube-apiserver` will figure out how to deal with `apply` progress. The good

[2022-03-31 00:56] atoato88 commented on #201
/reopen

@justinsb
WDYT about comment above?

[2022-04-20 08:34] xuzhenglun commented on #201
@justinsb

Any comment on this issue?

[2022-04-29 14:34] JeffLuoo commented on #182
/remove-lifecycle stale

[2022-05-03 11:43] tomasaschan commented on #191
/remove-lifecycle rotten

[2022-05-22 22:44] atoato88 commented on #190
/remove-lifecycle stale

[2022-05-23 22:19] #159 closed

[2022-05-23 22:21] JeffLuoo commented on #159
Has been resolved in the PR https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/216

[2022-06-06 03:33] xuzhenglun commented on #201
I believe that https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/217 fixes https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/issues/201 too, and we can close this PR now.

WDYT @atoato88

[2022-06-06 20:56] atoato88 commented on #201
/close
Yes, as of now this issue is fixed, I think.
I close this.

[2022-06-06 20:56] #201 closed

[2022-06-09 21:50] jcanseco opened #224 "error getting apply options: must specify one of -f and -k"
**What happened**:
Our operator started failing to apply manifests and logging the following error:
[code]

This started happening after we bumped our `kubebuilder-declarative-pattern` dependency to commit fe5be9431eae158f86f9de23000a9a2ec06745fc.

**What you expected to happen**:
For our operator to continue to be able to apply manifests successfully.

**How to reproduce it (as minimally and prec

[2022-06-21 07:50] fsommar commented on #191
This issue is fixed by #199. The PR introduced the ability to return `*declarative.ErrorResult` from `Preflight`, giving `Preflight` the agency to affect the returned reconciliation result (and error). To delay the retry:

[code]

This results in an early exit of the full reconciliation, and a returned `ctrl.Result{RequeueAfter: wait.Jitter(20*time.Minute, 0.5)}, nil` pair in controller-runtime te

[2022-06-21 07:52] #191 closed

[2022-06-24 08:16] xuzhenglun commented on #209
/remove-lifecycle stale

[2022-06-26 12:30] #196 closed

[2022-06-30 20:01] atoato88 commented on #174
/remove-lifecycle stale

[2022-07-02 12:41] #224 closed

[2022-07-15 14:10] JeffLuoo commented on #201
Do we have tests that will cover the prune?

[2022-07-18 00:58] JeffLuoo opened #230 "Cross namespace pruning is not working as intended"
**What happened**:
Using `WithApplyPrune` in the operator doesn't prune the objects in different namespaces.

**What you expected to happen**:
All objects in all namespaces with matching labels will be pruned.

**How to reproduce it (as minimally and precisely as possible)**:
Use the `guestbook` operator [example](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/tree/master/examp

[2022-07-18 00:59] JeffLuoo commented on #230
cc:  @justinsb

[2022-07-18 01:32] JeffLuoo commented on #230
From my observation of the implementation of the prune, the normal prune without `-all` option is calling a [namespaced](https://sourcegraph.com/github.com/kubernetes/kubectl/-/blob/pkg/cmd/apply/prune.go?L96) client.

[2022-07-18 22:50] JeffLuoo opened #231 "Slack channel for the development/questions of kubebuilder-declarative-pattern"
Currently the slack link of the project redirects to the broad `kubernetes` channel and I wonder shall we create a channel for development/questions about the project specifically? I see some people asking questions about this project under the `kubebuilder` channel as well.

[2022-07-19 02:05] atoato88 commented on #231
Thank you for suggesting :smile:
I think the place for questions about this repository is `kubebuilder` channel, because this repository is a part of `kubebuilder` project.
It's better to create new channel if topics of this repository grow on `kubebuilder` channel.
But I don't think so currently, because topics are something few.

@justinsb
WDYT?

[2022-07-19 04:09] JeffLuoo commented on #231
Thanks for the reply!

[2022-07-19 06:07] atoato88 commented on #201
We don't have cover tests to prune in DirectApplier.
We need more coverage on unit test for preventing some degrades. :sweat_smile:

[2022-07-21 22:43] JeffLuoo commented on #196
/remove-lifecycle stale

[2022-07-26 13:11] fsommar opened #232 "Preflight failure leads to panic in Reconciled"
**What happened**:

When my `Preflight` check fails, I get a panic in the `Reconciled` implementation that I'm using (`status.NewAggregator`). It panics on the `objs.Items` access. On a brief inspection, the same seems to hold true for all the other `Reconciled` implementations too.

**What you expected to happen**:

No panic, but at least log the error and try to recover.

**How to reproduce it (

[2022-07-27 09:39] killwing opened #234 "question: How to handle cluster scoped resources?"
Currently cluster scoped resources can be created, but they're not removed when the declarative object is deleted because no ownerref. Is it expected that user should remove them manually?

[2022-07-29 03:19] JeffLuoo commented on #182
/remove-lifecycle stale

[2022-08-02 23:27] atoato88 commented on #234
Current codebase don't set ownerref to those objects; [refer this comment](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/2072cf081b2e512b687c6bf152466646df1ac2c9/pkg/patterns/declarative/reconciler.go#L582-L584).
This was merged by #184

[2022-08-02 23:30] atoato88 commented on #231
/close
I close this issue because that I got a comment from issue author.
Feel free to add comment if any extras.

[2022-08-02 23:31] #231 closed

[2022-08-23 15:56] djdongjin opened #235 "[Question] How to make some changes to a generated reconclier"
Hi, I have a question about _reconcilers built based on kubebuild-declarative-pattern_. Suppose I want that in the reconcile loop, the reconciler should read an annotation from a namespace and based on that annotation value, add a node-affinity (or any other deployment change) to the deployment it creates. Is it possible? Thanks! For example:

1. Reconclier: https://github.com/kubernetes-sigs/kube

[2022-08-24 12:18] atoato88 commented on #235
I think we can do that operation by multiple options.

- option 1: patch manifest by kustomize
guestbook-operator is set with `WithApplyKustomize` at [here](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/2072cf081b2e512b687c6bf152466646df1ac2c9/examples/guestbook-operator/controllers/guestbook_controller.go#L62).
So you can patch target manifest by the way kustomize can.
I

[2022-08-24 13:08] atoato88 opened #236 "spec.patches on CR are pruned"
**What happened**:

Values of "spec.patches" in CR are pruned even if controller is set with `declarative.WithObjectTransform(addon.ApplyPatches)`.

**What you expected to happen**:

"spec.patches" values aren't pruned.

**How to reproduce it (as minimally and precisely as possible)**:

- I use [guestbook-operator](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/tree/master/exam

[2022-08-24 13:12] atoato88 commented on #236
As of now, CRD version is v1, so we need some additional parameter for CRD manifest, by that we preserve spec.pathes values, I guess.
Maybe [this issue](https://github.com/kubernetes/kubernetes/issues/94295) is related. :thinking:

/assign

[2022-08-24 13:20] atoato88 commented on #236
Is it needed to add markers witten at [this document](https://book.kubebuilder.io/reference/markers/crd-processing.html)?

[2022-08-25 20:37] djdongjin commented on #235
@atoato88 thanks for the suggestion! I finally figured it out using the `WithObjectTransform` and `MutatePodSpec` [here](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/2072cf081b2e512b687c6bf152466646df1ac2c9/pkg/patterns/declarative/pkg/manifest/objects.go#L189)

[2022-08-25 20:37] #235 closed

[2022-08-25 20:45] atoato88 commented on #235
You're welcome, and thank you for sharing your solution. 😉

[2022-08-30 15:19] tomasaschan commented on #190
/remove-lifecycle stale
/add-lifecycle frozen

[2022-09-17 05:57] amolmote opened #240 "Broken link issue need to fix"
## Bug Report
*Problem*
[This page ](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/master/CONTRIBUTING.md) has one broken link of `contributor cheat sheet` which needs to fix.

*solution*
need to locate the correct path of README.

/assign
/kind bug
/kind documentation

[2022-09-19 23:15] #240 closed

[2022-09-28 21:08] atoato88 commented on #174
/remove-lifecycle stale

[2022-10-20 11:50] talsharon48 opened #261 "apply more than one kustomization.yaml in package's version"
Hi there,
I am using kubebuilder-declarative-pattern to write a meta controller that will deploy all management controllers I have written.
I faced a problem which forces me to put only one kustomization.yaml in a specific version of the package (./channels/packages/<package-name>/<version>/) and omits additional directories and kustomization.yamls I put in them.
I have tried to write my own Manif

[2022-10-26 14:01] keithmcneill opened #262 "Would like to create a fanout of resources from a slice"
**Would like to create a fanout of resources from a slice**:

For example lets say the incoming declarativeObject has a list of animals
[code]
I have a resource template that I would like to expand:

[code]

And create one for each animal.

One route I see is to do something like

[code]
Using this with `WithRawManifestOperation` and a function that does some template processing.

I'm able to expa

[2022-11-02 17:26] JeffLuoo commented on #230
/unstale

[2022-11-18 09:48] stephanhorsthemke commented on #230
I wonder if the actual problem here is the different namespaces or if pruning generally did not work (also in the same namespace? I wonder if Deployments are by default whitelisted for pruning, if not, I guess that #274 might fix this.
Did you try running the same command with `kubectl` manually and have you been able to prune the Deployment with that?

[2022-11-18 10:11] stephanhorsthemke opened #279 "Setting Force in direct applier results in --force-conflicts"
**What happened**:
I got confused using `ApplierOptions.Force` which did not result in running kubectl with `--force`

**What you expected to happen**:
I expected that `ApplierOptions.Force` results in running kubectl with `--force` but actually it results in `--force-conflicts`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
It happens duri

[2022-11-21 09:31] #209 closed

[2022-11-29 10:19] tomasaschan commented on #190
/remove-lifecycle stale
/add-lifecycle frozen